<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h4>New User Registration</h4>
<form autocomplete="off"
      action ="#"
      th:action="@{/register}"
      th:object="${user}"
      method="post">
    Username
    <input type ="text" id="username" placeholder="Username"
    th:field ="*{username}"><br/>
    Password
    <input type ="text" id="password" placeholder="Password"
           th:field ="*{password}"><br/>
    <input type="submit" value="Submit">
</form>

</body>
</html>